<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Create new Player</h1>
    <p>
        <a href="/players/player/list">Come back home</a>
    </p>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <form th:action="@{/create-player}" th:object="${player}" method="post" enctype="multipart/form-data">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Avatar</td>
            <td><input type="file" name="avatar" th:field="*{avatar}"></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><input type="date" name="birthday" th:field="*{birthday}"></td>
        </tr>
        <tr>
            <td>Position</td>
            <td><input type="text" th:field="*{position}"></td>
        </tr>
        <tr>
            <td>Hype</td>
            <td><input type="text" th:field="*{hype}"></td>
        </tr>
        <tr>
            <td>Height</td>
            <td><input type="text" th:field="*{height}"></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td><input type="text" th:field="*{weight}"></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" th:field="*{salary}"></td>
        </tr>
    </form>
</div>
</div>
</body>
</html>