<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="home :: links">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="home :: preload"></div>
<div id="main-wrapper" class="show">
    <div th:replace="home :: nav-head"></div>
    <div th:replace="home :: header"></div>
    <div th:replace="home :: sidebar"></div>
    <div class="content-body" style="min-height: 1140px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Player Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form th:action="@{/createPlayer}" method="post" enctype="multipart/form-data"
                                  th:object="${player}">
                                <input type="hidden" th:name="email" th:value="${playerAccount.email}">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Name</label>
                                        <input type="text" class="form-control" th:field="*{name}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Birth Day</label>
                                        <input type="date" class="form-control" th:field="*{birthday}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Hometown</label>
                                        <input type="text" class="form-control" th:field="*{hometown}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Salary</label>
                                        <input type="number" class="form-control" th:field="*{salary}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Height</label>
                                        <input type="number" class="form-control" th:field="*{height}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Weight</label>
                                        <input type="number" class="form-control" th:field="*{weight}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Position:</label>
                                        <select class="form-control" th:field="*{position}">
                                            <option value="Striker">Striker</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Hype:</label>
                                        <select class="form-control" th:field="*{hype}">
                                            <option value="High">High</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Avatar</label>
                                        <div class="custom-file">
                                            <input type="file" name="file" class="custom-file-input" accept="image/jpeg">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="home :: footer"></div>
</div>
<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="/vendor/global/global.min.js"></script>
<script src="/js/quixnav-init.js"></script>
<script src="/js/custom.min.js"></script>
<!-- Vectormap -->
<script src="/vendor/raphael/raphael.min.js"></script>
<script src="/vendor/morris/morris.min.js"></script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/chart.js/Chart.bundle.min.js"></script>
<script src="/vendor/gaugeJS/dist/gauge.min.js"></script>
<!--  flot-chart js -->
<script src="/vendor/flot/jquery.flot.js"></script>
<script src="/vendor/flot/jquery.flot.resize.js"></script>
<!-- Owl Carousel -->
<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
<!-- Counter Up -->
<script src="/vendor/jqvmap/js/jquery.vmap.min.js"></script>
<script src="/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
<script src="/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/js/dashboard/dashboard-1.js"></script>
<form th:action="@{/createPlayer}" method="post" enctype="multipart/form-data" th:object="${player}">
    <input type="hidden" th:name="email" th:value="${playerAccount.email}">
    <input type="file" name="file">
    <input type="text" th:field="*{name}">
    <input type="date" th:field="*{birthday}">
    <input type="text" th:field="*{hometown}">
    <input type="text" th:field="*{salary}">
    <select th:field="*{position}">
        <option value="Striker">Striker</option>
    </select>
    <select th:field="*{hype}">
        <option value="High">High</option>
    </select>
    <button type="submit"> submit</button>
</form>
</body>
</html>