<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="home :: links">
    <meta charset="UTF-8">
    <title>Player Info</title>
</head>
<body>

<div th:replace="home :: preload"></div>
<div id="main-wrapper" class="show">
    <div th:replace="home :: nav-head"></div>
    <div th:replace="home :: header"></div>
    <div th:replace="home :: sidebar"></div>
    <div class="content-body" style="min-height: 1140px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Player Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-6" th:object="${player}">
                                <tr>
                                    <td>
                                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/p/changeAvatar/{id}(id=${player.id})}" class="btn btn-primary">
                                            Change Avatar</a>
                                    </td>
                                    <td>
                                        <div class="round-img">
                                            <a th:href="@{/p/changeAvatar/{id}(id=${player.id})}"><img width="300" th:src="@{'/'+ ${player.avatar}}" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td th:text="${player.name}"></td>
                                </tr>
                                <tr>
                                    <th>BirthDay</th>
                                    <td th:text="${player.birthday}"></td>
                                </tr>
                                <tr>
                                    <th>HomeTown</th>
                                    <td th:text="${player.hometown}"></td>
                                </tr>
                                <tr>
                                    <th>Salary</th>
                                    <td th:text="${player.salary} + ' VND'"></td>
                                </tr>
                                <tr>
                                    <th>Weekly Salary</th>
                                    <td th:switch="${player.weeklySalary!=null}">
                                        <span th:case="${true}" th:text="${player.weeklySalary.totalSalary} + ' VND'"></span>
                                        <span th:case="*">0 VND</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Position</th>
                                    <td th:text="${player.position.name}"></td>
                                </tr>
                                <tr>
                                    <th>Hype</th>
                                    <td th:text="${player.hype.name}"></td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td th:text="${player.status.name}"></td>
                                </tr>
                                <tr>
                                    <th>Height</th>
                                    <td th:text="${player.height} + ' cm'"></td>
                                </tr>
                                <tr>
                                    <th>Weight</th>
                                    <td th:text="${player.weight} + ' kg'"></td>
                                </tr>
                                <tr>
                                    <th>BMI</th>
                                    <td th:text="${player.bmi}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <h2 align="center">Salary </h2>
                    <div id="chart" style="width: 550px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(function () {
            Highcharts.chart('chart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Salary Chart'
                },
                subtitle: {
                    text: 'Weekly'
                },
                xAxis: {
                    categories: [[${keySet}]],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    max: 5000000,
                    title: {
                        text: 'Salary'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">Date: {point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'VND:',
                    data: [[${values}]]
                }]
            });
        });
    </script>
    <div th:replace="home :: footer"></div>
</div>

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="/vendor/global/global.min.js"></script>
<script src="/js/quixnav-init.js"></script>
<script src="/js/custom.min.js"></script>
<!-- Vectormap -->
<script src="/vendor/raphael/raphael.min.js"></script>
<script src="/vendor/morris/morris.min.js"></script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/chart.js/Chart.bundle.min.js"></script>
<script src="/vendor/gaugeJS/dist/gauge.min.js"></script>
<!--  flot-chart js -->
<script src="/vendor/flot/jquery.flot.js"></script>
<script src="/vendor/flot/jquery.flot.resize.js"></script>
<!-- Owl Carousel -->
<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
<!-- Counter Up -->
<script src="/vendor/jqvmap/js/jquery.vmap.min.js"></script>
<script src="/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
<script src="/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/js/dashboard/dashboard-1.js"></script>
</body>
</html>