<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>HOME PLAYERS</h1>
    <p>
        <a href="/player/create">Create new Player</a>
    </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Avatar</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Position</th>
            <th>Hype</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Detail</th>
        </tr>
        <tr th:each="player : ${players}" th:object="${player}">
            <td th:hidden="*{id}"></td>
            <td th:text="*{name}"></td>
            <td><img th:src="*{avatar}"width="200"height="200" alt=""></td>
            <td th:text="*{birthday}"></td>
            <td th:text="*{hometown}"></td>
            <td th:text="*{position}"></td>
            <td th:text="*{hype}"></td>
            <td th:text="*{status}"></td>
            <td>
                <a th:href="@{/player/edit/__${player.id}__}">Edit</a>
            </td>
            <td>
                <a th:href="@{/player/delete/__${player.id}__}">Delete</a>
            </td>
            <td>
                <a th:href="@{/player/detail/__${player.id}__}">Detail</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>