<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="links">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Change Password</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        th {
            color: black
        }

        td {
            color: black
        }
        label {
            color: black
        }
    </style>
</head>
<body>
<!--preload-->
<div id="preloader" style="display: none;" th:fragment="preload">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--preloadend-->

<!--wrapper-->
<div id="main-wrapper" class="show">
    <div th:replace="home :: nav-head"></div>
    <div th:replace="home :: header"></div>
    <div th:replace="home :: sidebar"></div>
    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body" style="min-height: 1140px;">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Change password</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form th:action="@{/u/changePassword}" th:object="${user}" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Current Password</label>
                                            <input type="password" class="form-control" th:field="*{password}" required>
                                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></p>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer" th:fragment="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
            <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--wrapperend-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="/vendor/global/global.min.js"></script>
<script src="/js/quixnav-init.js"></script>
<script src="/js/custom.min.js"></script>
<!-- Vectormap -->
<script src="/vendor/raphael/raphael.min.js"></script>
<script src="/vendor/morris/morris.min.js"></script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/chart.js/Chart.bundle.min.js"></script>
<script src="/vendor/gaugeJS/dist/gauge.min.js"></script>
<!--  flot-chart js -->
<script src="/vendor/flot/jquery.flot.js"></script>
<script src="/vendor/flot/jquery.flot.resize.js"></script>
<!-- Owl Carousel -->
<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
<!-- Counter Up -->
<script src="/vendor/jqvmap/js/jquery.vmap.min.js"></script>
<script src="/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
<script src="/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/js/dashboard/dashboard-1.js"></script>
</body>
</html>