<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/createCoach}" th:object="${coach}" method="post">
    email
    <input type="text" th:value="${coachAccount.getEmail()}" th:name="email" ><br>
    ten
    <input type="text" th:field="*{name}"><br>
    que
    <input type="text" th:field="*{hometown}"><br>
    luong
    <input type="text" th:field="*{salary}"><br>
    tuoi
    <input type="text" th:field="*{age}">
    <button type="submit"></button>
</form>
</body>
</html>