<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Create new Coach Table</h2>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form  method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>HomeTown</th>
                <th>Salary</th>
                <th>WeekSalary</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${coach}" >
                <td><input readonly th:field="*{id}"></td>
                <td><input th:field="*{name}"></td>
                <td><input th:field="*{age}"></td>
                <td><input th:field="*{hometown}"></td>
                <td><input th:field="*{salary}"></td>
                <td><input th:field="*{weeklySalary.totalSalary}"></td>
                <td><input th:field="*{email}"></td>


            </tr>

            </tbody>
        </table>
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>

</body>
</html>
