<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="links">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        th {color: black}
        td {color: black}
    </style>
</head>
<body>
<!--preload-->
<div id="preloader" style="display: none;" th:fragment="preload">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--preloadend-->

<!--wrapper-->
<div id="main-wrapper" class="show">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:fragment="nav-head">
        <a href="/home" class="brand-logo">
            <img class="logo-abbr" src="/images/logo.png" alt="">
            <img class="logo-compact" src="/images/logo-text.png" alt="">
            <img class="brand-title" src="/images/logo-text.png" alt="">
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:fragment="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            <div>
                                <form th:action="@{/home}" method="post">
                                    <input type="text" placeholder="Min salary" aria-label="Search" name="min">
                                    <input type="text" placeholder="Max salary" aria-label="Search" name="max">
                                    <button type="submit" class="btn btn-primary"> search</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <ul class="navbar-nav header-right">

                        <li class="nav-item dropdown header-profile">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                <i class="mdi mdi-account"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="/app-profile.html" class="dropdown-item">
                                    <i class="icon-user"></i>
                                    <span class="ml-2">Profile </span>
                                </a>
                                <a href="/logout" class="dropdown-item">
                                    <i class="icon-key"></i>
                                    <span class="ml-2">Logout </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->
    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="quixnav" th:fragment="sidebar">
        <div class="quixnav-scroll ps">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/index.html">Dashboard 1</a></li>
                        <li><a href="/index2.html">Dashboard 2</a></li>
                    </ul>
                </li>
                <li class="nav-label">Apps</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-app-store"></i><span class="nav-text">Apps</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/app-profile.html">Profile</a></li>
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                            <ul aria-expanded="false" class="mm-collapse">
                                <li><a href="/email-compose.html">Compose</a></li>
                                <li><a href="/email-inbox.html">Inbox</a></li>
                                <li><a href="/email-read.html">Read</a></li>
                            </ul>
                        </li>
                        <li><a href="/app-calender.html">Calendar</a></li>
                    </ul>
                </li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Charts</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/chart-flot.html">Flot</a></li>
                        <li><a href="/chart-morris.html">Morris</a></li>
                        <li><a href="/chart-chartjs.html">Chartjs</a></li>
                        <li><a href="/chart-chartist.html">Chartist</a></li>
                        <li><a href="/chart-sparkline.html">Sparkline</a></li>
                        <li><a href="/chart-peity.html">Peity</a></li>
                    </ul>
                </li>
                <li class="nav-label">Components</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-world-2"></i><span class="nav-text">Bootstrap</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/ui-accordion.html">Accordion</a></li>
                        <li><a href="/ui-alert.html">Alert</a></li>
                        <li><a href="/ui-badge.html">Badge</a></li>
                        <li><a href="/ui-button.html">Button</a></li>
                        <li><a href="/ui-modal.html">Modal</a></li>
                        <li><a href="/ui-button-group.html">Button Group</a></li>
                        <li><a href="/ui-list-group.html">List Group</a></li>
                        <li><a href="/ui-media-object.html">Media Object</a></li>
                        <li><a href="/ui-card.html">Cards</a></li>
                        <li><a href="/ui-carousel.html">Carousel</a></li>
                        <li><a href="/ui-dropdown.html">Dropdown</a></li>
                        <li><a href="/ui-popover.html">Popover</a></li>
                        <li><a href="/ui-progressbar.html">Progressbar</a></li>
                        <li><a href="/ui-tab.html">Tab</a></li>
                        <li><a href="/ui-typography.html">Typography</a></li>
                        <li><a href="/ui-pagination.html">Pagination</a></li>
                        <li><a href="/ui-grid.html">Grid</a></li>
                    </ul>
                </li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-plug"></i><span class="nav-text">Plugins</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/uc-select2.html">Select 2</a></li>
                        <li><a href="/uc-nestable.html">Nestedable</a></li>
                        <li><a href="/uc-noui-slider.html">Noui Slider</a></li>
                        <li><a href="/uc-sweetalert.html">Sweet Alert</a></li>
                        <li><a href="/uc-toastr.html">Toastr</a></li>
                        <li><a href="/map-jqvmap.html">Jqv Map</a></li>
                    </ul>
                </li>
                <li><a href="/widget-basic.html" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                        class="nav-text">Widget</span></a></li>
                <li class="nav-label">Forms</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-form"></i><span class="nav-text">Forms</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/form-element.html">Form Elements</a></li>
                        <li><a href="/form-wizard.html">Wizard</a></li>
                        <li><a href="/form-editor-summernote.html">Summernote</a></li>
                        <li><a href="/form-pickers.html">Pickers</a></li>
                        <li><a href="/form-validation-jquery.html">Jquery Validate</a></li>
                    </ul>
                </li>
                <li class="nav-label">Table</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-layout-25"></i><span class="nav-text">Table</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/table-bootstrap-basic.html">Bootstrap</a></li>
                        <li><a href="/table-datatable-basic.html">Datatable</a></li>
                    </ul>
                </li>
                <li class="nav-label">Extra</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/page-register.html">Register</a></li>
                        <li><a href="/page-login.html">Login</a></li>
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                            <ul aria-expanded="false" class="mm-collapse">
                                <li><a href="/page-error-400.html">Error 400</a></li>
                                <li><a href="/page-error-403.html">Error 403</a></li>
                                <li><a href="/page-error-404.html">Error 404</a></li>
                                <li><a href="/page-error-500.html">Error 500</a></li>
                                <li><a href="/page-error-503.html">Error 503</a></li>
                            </ul>
                        </li>
                        <li><a href="/page-lock-screen.html">Lock Screen</a></li>
                    </ul>
                </li>
            </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body" style="min-height: 1140px;">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">New Orders</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>BirthDay</th>
                                        <th>HomeTown</th>
                                        <th>Salary 2</th>
                                        <th>Position</th>
                                        <th>Hype</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="player : ${players}">
                                        <td>
                                            <div class="round-img">
                                                <a th:href="@{/playerProfile/{id}(id=${player.id})}"><img width="200"
                                                                                                          th:src="@{${player.avatar}}"
                                                                                                          alt=""></a>
                                            </div>
                                        </td>
                                        <td th:text="${player.name}"></td>
                                        <td th:text="${player.birthday}"></td>
                                        <td th:text="${player.hometown}"></td>
                                        <td th:switch="${player.weeklySalary!=null}">
                                            <span th:case="${true}" th:text="${player.weeklySalary.totalSalary}"></span>
                                            <span th:case="*">0</span>
                                        </td>
                                        <td th:text="${player.position}"></td>
                                        <td th:text="${player.hype}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Coach</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Home Town</th>
                                        <th>Salary</th>
                                        <th>Salary 2</th>
                                        <th>Position</th>
                                        <th>Hype</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="coach : ${coaches}">
                                        <td>
                                            <div class="round-img">
                                                <a th:href="@{/coachProfile/{id}(id=${coach.id})}"><img width="200"
                                                                                                        th:src="@{${coach.avatar}}"
                                                                                                        alt=""></a>
                                            </div>
                                        </td>
                                        <td th:text="${coach.name}"></td>
                                        <td th:text="${coach.hometown}"></td>
                                        <td th:text="${coach.salary}"></td>
                                        <td th:switch="${coach.weeklySalary!=null}">
                                            <span th:case="${true}" th:text="${coach.weeklySalary.totalSalary}"></span>
                                            <span th:case="*">0</span>
                                        </td>
                                        <td th:text="${coach.email}"></td>
                                        <td th:text="${coach.age}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer" th:fragment="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
            <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--wrapperend-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="/vendor/global/global.min.js"></script>
<script src="/js/quixnav-init.js"></script>
<script src="/js/custom.min.js"></script>
<!-- Vectormap -->
<script src="/vendor/raphael/raphael.min.js"></script>
<script src="/vendor/morris/morris.min.js"></script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/chart.js/Chart.bundle.min.js"></script>
<script src="/vendor/gaugeJS/dist/gauge.min.js"></script>
<!--  flot-chart js -->
<script src="/vendor/flot/jquery.flot.js"></script>
<script src="/vendor/flot/jquery.flot.resize.js"></script>
<!-- Owl Carousel -->
<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
<!-- Counter Up -->
<script src="/vendor/jqvmap/js/jquery.vmap.min.js"></script>
<script src="/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
<script src="/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/js/dashboard/dashboard-1.js"></script>
</body>
</html>