<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="links">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus Home</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--    -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!--    -->
    <style>
        th {
            color: black
        }

        td {
            color: black
        }

        label {
            color: black
        }

        a {
            color: blue;
        }

        p {
            color: black;
        }
    </style>
</head>
<body>
<!--preload-->
<div id="preloader" style="display: none;" th:fragment="preload">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--preloadend-->

<!--wrapper-->
<div id="main-wrapper" class="show">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:fragment="nav-head">
        <a href="/u/landing" class="brand-logo">
            <img class="logo-abbr" src="/images/logo.png" alt="">
            <img class="logo-compact" src="/images/logo-text.png" alt="">
            <img class="brand-title" src="/images/logo-text.png" alt="">
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:fragment="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            <div>
                                <form th:action="@{/u/home}" method="post">
                                    <input type="text" placeholder="Min salary" aria-label="Search" name="min">
                                    <input type="text" placeholder="Max salary" aria-label="Search" name="max">
                                    <button type="submit" class="btn btn-primary"> search</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <ul class="navbar-nav header-right">

                        <li class="nav-item dropdown header-profile">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                <i class="mdi mdi-account"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="/u/profile" class="dropdown-item">
                                    <i class="icon-user"></i>
                                    <span class="ml-2">Profile </span>
                                </a>
                                <a href="/logout" class="dropdown-item">
                                    <i class="icon-key"></i>
                                    <span class="ml-2">Logout </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->
    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="quixnav" th:fragment="sidebar">
        <div class="quixnav-scroll ps">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/u/home">Home</a></li>
                    </ul>
                </li>
                <li class="nav-label">Account</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-app-store"></i><span class="nav-text">My Account</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/u/profile">Account Profile</a></li>
                        <li><a href="/u/editMyProfile">Edit Account Profile</a></li>
                        <li><a href="/u/changeAvatar">Change Account Avatar</a></li>
                        <li><a href="/u/changePassword">Change Password</a></li>
                    </ul>
                </li>
                <li sec:authorize="${hasAnyRole('ROLE_PLAYER','ROLE_COACH')}">
                    <a class="has-arrow"
                       href="javascript:void()"
                       aria-expanded="false"><i
                            class="icon icon-chart-bar-33"></i><span class="nav-text">My Work Info</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/u/workProfile">Work Profile</a></li>
                        <li><a href="/u/editWorkProfile">Edit Work Profile</a></li>
                        <li><a href="/u/changeWorkAvatar">Change Work Avatar</a></li>
                    </ul>
                </li>
                <li class="nav-label" sec:authorize="hasRole('ROLE_ADMIN')">Salary</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"
                       sec:authorize="hasRole('ROLE_ADMIN')"><i
                        class="icon icon-world-2"></i><span class="nav-text">Select</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/a/coachList">Coach Salary</a></li>
                        <li><a href="/a/playerList">Player Salary</a></li>
                    </ul>
                </li>
                <li class="nav-label" sec:authorize="hasRole('ROLE_ADMIN')">Forms</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"
                       sec:authorize="hasRole('ROLE_ADMIN')"><i
                        class="icon icon-form"></i><span class="nav-text">Forms</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/a/create">New Account</a></li>
                    </ul>
                </li>
                <li class="nav-label" sec:authorize="hasRole('ROLE_ADMIN')">Management</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"
                       sec:authorize="hasRole('ROLE_ADMIN')"><i
                        class="icon icon-layout-25"></i><span class="nav-text">My Employees</span></a>
                    <ul aria-expanded="false" class="mm-collapse">
                        <li><a href="/a/showCoach">Coach</a></li>
                        <li><a href="/a/showPlayer">Player</a></li>
                    </ul>
                </li>
            </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body" style="min-height: 1140px;">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Players</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>BirthDay</th>
                                        <th>HomeTown</th>
                                        <th>Salary</th>
                                        <th>Weekly</th>
                                        <th>Position</th>
                                        <th>Hype</th>
                                        <th>Status</th>
                                        <th sec:authorize="${hasAnyRole('ROLE_ADMIN','ROLE_COACH')}">Update</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="player : ${players}">
                                        <td>
                                            <div class="round-img">
                                                <a th:href="@{/p/profile/{id}(id=${player.id})}"><img height="200" width="200"
                                                                                                      th:src="@{'/' + ${player.avatar}}"
                                                                                                      alt=""></a>
                                            </div>
                                        </td>
                                        <td th:text="${player.name}"></td>
                                        <td th:text="${player.birthday}"></td>
                                        <td th:text="${player.hometown}"></td>
                                        <td th:text="${player.salary} + ' vnd'"></td>
                                        <td th:switch="${player.weeklySalary!=null}">
                                            <span th:case="${true}"
                                                  th:text="${player.weeklySalary.totalSalary}+ ' vnd'"></span>
                                            <span th:case="*">0 VND</span>
                                        </td>
                                        <td th:switch="${player.position!=null}">
                                            <span th:case="${true}"
                                                  th:text="${player.position.name}"></span>
                                            <span th:case="*">Unknown</span>
                                        </td>
                                        <td th:switch="${player.hype!=null}">
                                            <span th:case="${true}"
                                                  th:text="${player.hype.name}"></span>
                                            <span th:case="*">Unknown</span>
                                        </td>
                                        <td th:switch="${player.status!=null}">
                                            <span th:case="${true}"
                                                  th:text="${player.status.name}"></span>
                                            <span th:case="*">Unknown</span>
                                        </td>
                                        <th sec:authorize="${hasAnyRole('ROLE_ADMIN','ROLE_COACH')}">
                                            <a th:href="@{/p/coacheditplayer/{id}(id=${player.id})}"
                                               class="btn btn-primary">Update Info</a></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Coach</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Home Town</th>
                                        <th>Salary</th>
                                        <th>Weekly</th>
                                        <th>Email</th>
                                        <th>Age</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="coach : ${coaches}">
                                        <td>
                                            <div class="round-img">
                                                <a th:href="@{/c/profile/{id}(id=${coach.id})}"><img height="200" width="200"
                                                                                                     th:src="@{'/' + ${coach.avatar}}"
                                                                                                     alt=""></a>
                                            </div>
                                        </td>
                                        <td th:text="${coach.name}"></td>
                                        <td th:text="${coach.hometown}"></td>
                                        <td th:text="${coach.salary} + ' vnd'"></td>
                                        <td th:switch="${coach.weeklySalary!=null}">
                                            <span th:case="${true}"
                                                  th:text="${coach.weeklySalary.totalSalary} + ' vnd'"></span>
                                            <span th:case="*">0 vnd</span>
                                        </td>
                                        <td th:text="${coach.email}"></td>
                                        <td th:text="${coach.age}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <h2 align="center">Player Salary </h2>
                        <div id="chart" style="width: 550px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <h2 align="center">Coach Salary </h2>
                        <div id="chart2" style="width: 550px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(function () {
            Highcharts.chart('chart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Salary Chart'
                },
                subtitle: {
                    text: 'Weekly'
                },
                xAxis: {
                    categories: [[${keySet}]],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    max: 5000000,
                    title: {
                        text: 'Salary'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">Name: {point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'VND:',
                    data: [[${values}]]
                }]
            });
        });
        $(function () {
            Highcharts.chart('chart2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Salary Chart'
                },
                subtitle: {
                    text: 'Weekly'
                },
                xAxis: {
                    categories: [[${keySet2}]],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    max: 5000000,
                    title: {
                        text: 'Salary'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">Name: {point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'VND:',
                    data: [[${values2}]]
                }]
            });
        });
    </script>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer" th:fragment="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
            <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--wrapperend-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="/vendor/global/global.min.js"></script>
<script src="/js/quixnav-init.js"></script>
<script src="/js/custom.min.js"></script>
<!-- Vectormap -->
<script src="/vendor/raphael/raphael.min.js"></script>
<script src="/vendor/morris/morris.min.js"></script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/chart.js/Chart.bundle.min.js"></script>
<script src="/vendor/gaugeJS/dist/gauge.min.js"></script>
<!--  flot-chart js -->
<script src="/vendor/flot/jquery.flot.js"></script>
<script src="/vendor/flot/jquery.flot.resize.js"></script>
<!-- Owl Carousel -->
<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
<!-- Counter Up -->
<script src="/vendor/jqvmap/js/jquery.vmap.min.js"></script>
<script src="/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
<script src="/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/js/dashboard/dashboard-1.js"></script>
</body>
</html>